{% extends 'bz_admin/base.html' %}
{% load static from staticfiles %}


{% block bugzilla-body %}
<div>
  This page is only accessible to empowered users. You can access administrative pages
  from here (based on your privileges), letting you configure different aspects of
  this installation. Note: some sections may not be accessible to you and are marked
  using a lighter color.
</div>

<table>
  <tbody><tr>
    <td class="admin_links">
      <dl>
        <dt id="parameters" class=""><a href="{% url 'back:params' %}">Parameters</a></dt>
        <dd class="">Set core parameters of the installation. That's the
        place where you specify the URL to access this installation, determine how
        users authenticate, choose which bug fields to display, select
        the mail transfer agent to send email notifications, choose which group of
        users can use charts and share queries, and much more.</dd>

        <dt id="preferences" class=""><a href="{% url 'back:settings' %}">Default Preferences</a></dt>
        <dd class="">Set the default user preferences. These are the values
        which will be used by default for all users. Users will be able to edit their
        own preferences from the <a href="userprefs.cgi?tab=settings">Preferences</a>.</dd>

        <dt id="sanitycheck" class=""><a href="{% url 'back:sanitycheck' %}">Sanity Check</a></dt>
        <dd class="">Run sanity checks to locate problems in your database.
        This may take several tens of minutes depending on the size of your installation.
        You can also automate this check by running <tt>sanitycheck.pl</tt> from a cron job.
        A notification will be sent per email to the specified user if errors are detected.</dd>

        <dt id="users" class=""><a href="{% url 'back:users' %}">Users</a></dt>
        <dd class="">Create new user accounts or edit existing ones. You can
        also add and remove users from groups (also known as "user privileges").</dd>

        <dt id="classifications" class="forbidden"><a href="{% url 'back:classifications' %}">Classifications</a></dt>
        <dd class="forbidden">If your installation has to manage many products at once,
        it's a good idea to group these products into distinct categories. This lets users
        find information more easily when doing searches or when filing new bugs.</dd>

        <dt id="products" class=""><a href="{% url 'back:products' %}">Products</a></dt>
        <dd class="">Edit all aspects of products, including group restrictions
        which let you define who can access bugs being in these products. You
        can also edit some specific attributes of products such as
        <a href="{% url 'back:components' %}">components</a>, <a href="{% url 'back:versions' %}">versions</a>
        and <a href="{% url 'back:milestones' %}">milestones</a> directly.</dd>

        <dt id="flags" class=""><a href="{% url 'back:flagtypes' %}">Flags</a></dt>
        <dd class="">A flag is a custom 4-states attribute of bugs
        and/or attachments. These states are: granted, denied, requested and undefined.
        You can set as many flags as desired per bug, and define which users
        are allowed to edit them.</dd>

      </dl>
    </td>

    <td class="admin_links">
      <dl>
        <dt id="custom_fields" class=""><a href="{% url 'back:fields' %}">Custom Fields</a></dt>
        <dd class="">Bugzilla lets you define fields which are
        not implemented by default, based on your local and specific requirements.
        These fields can then be used as any other field, meaning that you can set
        them in bugs and run any search involving them.<br>
        Before creating new fields, keep in mind that too many fields may make the user
        interface more complex and harder to use. Be sure you have investigated other ways
        to satisfy your needs before doing this.</dd>

        <dt id="field_values" class=""><a href="{% url 'back:values' %}">Field Values</a></dt>
        <dd class="">Define legal values for fields whose values must belong
        to some given list. This is also the place where you define legal values for some
        types of custom fields.</dd>

        <dt id="status_workflow" class=""><a href="{% url 'back:workflow' %}">Bug Status Workflow</a></dt>
        <dd class="">Customize your workflow and choose initial bug
        statuses available on bug creation and allowed bug status
        transitions when editing existing bugs.</dd>

        <dt id="groups" class=""><a href="{% url 'back:groups' %}">Groups</a></dt>
        <dd class="">Define groups which will be used in the installation.
        They can either be used to define new user privileges or to restrict the access
        to some bugs.</dd>

        <dt id="keywords" class=""><a href="{% url 'back:keywords' %}">Keywords</a></dt>
        <dd class="">Set keywords to be used with bugs. Keywords
        are an easy way to "tag" bugs to let you find them more easily later.</dd>

        <dt id="whining" class=""><a href="{% url 'back:whines' %}">Whining</a></dt>
        <dd class="">Set queries which will be run at some specified date
        and time, and get the result of these queries directly per email. This is a
        good way to create reminders and to keep track of the activity in your installation.</dd>

      </dl>
    </td>
  </tr>
</tbody></table>
{% endblock %}