{% extends 'bz_admin/base.html' %}
{% load crispy_forms_tags %}


{% block bugzilla-body %}
<form method="post" action="{% url 'back:products' %}?action=edit&product={{ product.name }}">
  <table border="0" cellpadding="4" cellspacing="0">
    {% csrf_token %}
    <tbody>
      <tr>
        <th align="right">Product:</th>
        <td>
          <input size="64" maxlength="64" name="product" value="{{ form.product.value }}">
        </td>
      </tr>

      <tr>
        <th align="right">Description:</th>
        <td><textarea rows="4" cols="64" wrap="virtual" name="description">{{ form.description.value }}</textarea>
        </td>
      </tr>

      <tr>
        <th align="right">Open for bug entry:</th>
        <td><input type="checkbox" name="is_active" value="1"{% if form.is_active.value %} checked="checked"{% endif %}>
        </td>
      </tr>

      <tr>
        <th align="right">
          <label for="allows_unconfirmed">Enable the UNCONFIRMED status in this product:</label>
        </th>
        <td><input type="checkbox" id="allows_unconfirmed" name="allows_unconfirmed"{% if form.is_active.value %} checked="checked"{% endif %}>
        </td>
      </tr>

      <tr>
        <th align="right" valign="top">
          <a href="{% url 'back:components' %}?product={{ product.name }}">
          Edit components:
          </a>
        </th>
        <td>
          {% for component in product.components.all %}
          <a href="{% url 'back:components' %}?action=edit&amp;product={{ product.name }}&amp;component={{ component.name }}">{{ component.name }}</a>:&nbsp;{{ component.name }}
          <br>
          {% endfor %}
        </td>
      </tr>

      <tr>
        <th align="right" valign="top">
          <a href="{% url 'back:versions' %}?product={{ product.name }}">Edit versions:</a>
        </th>
        <td>
          unspecified<br>
        </td>
      </tr>

      <tr>
        <th align="right" valign="top">
          <a href="{% url 'back:products' %}?action=editgroupcontrols&amp;product={{ product.name }}">
            Edit Group Access Controls:
          </a>
        </th>
        <td>
          no groups
        </td>
      </tr>

      <tr>
        <th align="right">Bugs:</th>
        <td><a href="{% url 'front:list-bug' %}?product={{ product.name }}">N/A</a></td>
      </tr>
    </tbody>
  </table>

  <input type="hidden" name="product_old_name" value="{{ product.name }}">
  <input type="hidden" name="action" value="update">
  <input type="submit" id="update-product" value="Save Changes">
</form>

<hr>

<p>
  Edit <a href="{% url 'back:products' %}">other products</a>.
</p>
{% endblock %}