{% load static from staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                      "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <title>{{ title|default:"Welcome to Bugzilla" }}</title>

      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

      <link rel="Top" href="">

      {% block css %}
      <link href="{% static 'skins/standard/global.css' %}" rel="alternate stylesheet" title="Classic">
      <link href="{% static 'skins/standard/global.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'skins/standard/index.css' %}" rel="stylesheet" type="text/css" >

      <!--[if lte IE 7]>
      <link href="{% static 'skins/standard/IE-fixes.css' %}" rel="stylesheet" type="text/css" >
      <![endif]-->

      <link href="{% static 'skins/contrib/Dusk/global.css' %}" rel="stylesheet" type="text/css" title="Dusk">
      <link href="{% static 'skins/contrib/Dusk/index.css' %}" rel="stylesheet" type="text/css" title="Dusk">
      {% endblock css %}

      {% block js %}
      <script type="text/javascript" src="{% static 'js/yui/yahoo-dom-event/yahoo-dom-event.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/yui/cookie/cookie-min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/global.js' %}"></script>

      <script type="text/javascript">
      <!--
        YAHOO.namespace('bugzilla');
        YAHOO.util.Event.addListener = function (el, sType, fn, obj, overrideContext) {
               if ( ("onpagehide" in window || YAHOO.env.ua.gecko) && sType === "unload") { sType = "pagehide"; };
               var capture = ((sType == "focusin" || sType == "focusout") && !YAHOO.env.ua.ie) ? true : false;
               return this._addListener(el, this._getType(sType), fn, obj, overrideContext, capture);
         };
        if ( "onpagehide" in window || YAHOO.env.ua.gecko) {
            YAHOO.util.Event._simpleRemove(window, "unload", 
                                           YAHOO.util.Event._unload);
        }
        
        function unhide_language_selector() { 
            YAHOO.util.Dom.removeClass(
                'lang_links_container', 'bz_default_hidden'
            ); 
        } 
        YAHOO.util.Event.onDOMReady(unhide_language_selector);

        
        var BUGZILLA = {
            param: {
                cookiepath: '\/',
                maxusermatches: 1000
            },
            constant: {
                COMMENT_COLS: 80
            },
            string: {
                

                attach_desc_required:
                    'You must enter a Description for this attachment.',
                component_required:
                    'You must select a Component for this bug.',
                description_required:
                    'You must enter a Description for this bug.',
                short_desc_required:
                    'You must enter a Summary for this bug.',
                version_required:
                    'You must select a Version for this bug.'
            }
        };

      // -->
      </script>
      {% endblock js %}

    <link rel="search" type="application/opensearchdescription+xml" title="Bugzilla" href="./search_plugin.cgi">
    <link rel="shortcut icon" href="images/favicon.ico" >
  </head>


  <body onload="" class="yui-skin-sam">

    <div id="header">
      <div id="banner">
      </div>

      <table border="0" cellspacing="0" cellpadding="0" id="titles">
        <tr>
          <td id="title">
            <p>Bugzilla &ndash; {{ title|default:"Welcome to Bugzilla" }}</p>
          </td>
          <td id="information">
            <p class="header_addl_info">version 4.4.1</p>
          </td>
        </tr>
      </table>

      <table id="lang_links_container" cellpadding="0" cellspacing="0" class="bz_default_hidden">
        <tr>
          <td>
          </td>
        </tr>
      </table>

      <ul class="links">
        <li><a href="{% url 'front:home' %}">Home</a></li>
        <li><span class="separator">| </span><a href="{% url 'front:create-bug' %}">New</a></li>
        <li><span class="separator">| </span><a href="{% url 'front:view-component' %}">Browse</a></li>
        <li><span class="separator">| </span><a href="{% url 'front:view-query' %}">Search</a></li>

        <li class="form">
          <span class="separator">| </span>
          <form action="{% url 'front:list-bug' %}" method="get"
              onsubmit="if (this.quicksearch.value == '')
                        { alert('Please enter one or more search terms first.');
                          return false; } return true;">
          <input type="hidden" id="no_redirect_top" name="no_redirect" value="0">
          <script type="text/javascript">
            if (history && history.replaceState) {
              var no_redirect = document.getElementById("no_redirect_top");
              no_redirect.value = 1;
            }
          </script>
          <input class="txt" type="text" id="quicksearch_top" name="quicksearch" 
                 title="Quick Search" value="">
          <input class="btn" type="submit" value="Search" 
                 id="find_top"></form>
          <a href="{% url 'front:flatpage' %}?id=quicksearch.html" title="Quicksearch Help">[?]</a>
        </li>

        <li><span class="separator">| </span><a href="{% url 'front:view-report' %}">Reports</a></li>

        <li></li>

        {% if user.is_authenticated %}
          <li><span class="separator">| </span><a href="{% url 'user:prefs' %}">Preferences</a></li>
          <li><span class="separator">| </span><a href="{% url 'admin:index' %}">Administration</a></li>

          <li>
            <span class="separator">| </span>
              <a href="{% url 'user:logout' %}">Log&nbsp;out</a>
              {{ user.login_name }}
          </li>

        {% else %}
          <li id="new_account_container_top">
            <span class="separator">| </span>
            <a href="{% url 'user:create-account' %}">New&nbsp;Account</a>
          </li>

          <li id="mini_login_container_top">
            <span class="separator">| </span>
            <a id="login_link_top" href="{% url 'user:login' %}"
               onclick="return show_mini_login_form('_top')">Log In</a>

            <form action="{{ request.get_full_path }}" method="POST" 
                  class="mini_login bz_default_hidden"
                  id="mini_login_top"
                  onsubmit="return check_mini_login_fields( '_top' );">
              {% csrf_token %}
              <input id="Bugzilla_login_top" 
                     class="bz_login"
                     name="Bugzilla_login"
                     title="Login"
                     onfocus="mini_login_on_focus('_top')">
              <input class="bz_password" 
                     id="Bugzilla_password_top" 
                     name="Bugzilla_password"
                     type="password"
                     title="Password">
              <input class="bz_password bz_default_hidden bz_mini_login_help" type="text" 
                     id="Bugzilla_password_dummy_top" value="password"
                     title="Password"
                     onfocus="mini_login_on_focus('_top')"
              >
              <input type="submit" name="GoAheadAndLogIn" value="Log in" 
                      id="log_in_top">
              <script type="text/javascript">
                mini_login_constants = {
                    "login" : "login",
                    "warning" : "You must set the login and password before logging in."
                };
                
                if (YAHOO.env.ua.gecko || YAHOO.env.ua.ie || YAHOO.env.ua.opera) {
                    YAHOO.util.Event.onDOMReady(function() {
                        init_mini_login_form('_top');
                    });
                }
                else {
                    YAHOO.util.Event.on(window, 'load', function () {
                        window.setTimeout(function() {
                            init_mini_login_form('_top');
                        }, 200);
                    });
              }
              </script>
              <a href="#" onclick="return hide_mini_login_form('_top')">[x]</a>
            </form>
          </li>
          <li id="forgot_container_top">
            <span class="separator">| </span>
            <a id="forgot_link_top" href="{% url 'user:forgot-password' %}"
               onclick="return show_forgot_form('_top')">Forgot Password</a>
            <form action="token.cgi" method="post" id="forgot_form_top"
                  class="mini_forgot bz_default_hidden">
              <label for="login_top">Login:</label>
              <input type="text" name="loginname" size="20" id="login_top">
              <input id="forgot_button_top" value="Reset Password" 
                     type="submit">
              <input type="hidden" name="a" value="reqpw">
              <input type="hidden" id="token_top" name="token" value="1391602242-n7VAajW--85bbcrqKreH7m7vW7PscF4Jz4NPzIB-Bmw">
              <a href="#" onclick="return hide_forgot_form('_top')">[x]</a>
            </form>
          </li>
          {% endif %}
      </ul>
    </div>

    <div id="bugzilla-body">
      {% if messages %}
        {% for message in messages %}
          <div id="message">
            <b>You logged out successfully</b>.
            The cookie that was remembering your login is now gone. You will be
            prompted for a login the next time it is required.
          </div>
        {% endfor %}

        {% comment %}
          <tbody><tr>
            <td id="error_msg" class="throw_error">
            You have requested
              an account
            token too recently to request another. 
            Please wait 10 minutes
            then try again.

            </td>
          </tr>
        </tbody>
      {% endcomment %}

      {% endif %}

      {% block bugzilla-body %}
      {% endblock bugzilla-body %}
    </div>

    <div id="footer">
      <div class="intro"></div>

      <ul id="useful-links">
        <li id="links-actions">
          <ul class="links">
            <li><a href="{% url 'front:home' %}">Home</a></li>
            <li><span class="separator">| </span><a href="{% url 'front:create-bug' %}">New</a></li>
            <li><span class="separator">| </span><a href="{% url 'front:view-component' %}">Browse</a></li>
            <li><span class="separator">| </span><a href="{% url 'front:view-query' %}">Search</a></li>

            <li class="form">
              <span class="separator">| </span>
              <form action="buglist.cgi" method="get"
                  onsubmit="if (this.quicksearch.value == '')
                            { alert('Please enter one or more search terms first.');
                              return false; } return true;">
              <input type="hidden" id="no_redirect_bottom" name="no_redirect" value="0">
              <script type="text/javascript">
                if (history && history.replaceState) {
                  var no_redirect = document.getElementById("no_redirect_bottom");
                  no_redirect.value = 1;
                }
              </script>
              <input class="txt" type="text" id="quicksearch_bottom" name="quicksearch" 
                     title="Quick Search" value="">
              <input class="btn" type="submit" value="Search" 
                     id="find_bottom"></form>
              <a href="{% url 'front:flatpage' %}?id=quicksearch.html" title="Quicksearch Help">[?]</a>
            </li>

            <li><span class="separator">| </span><a href="{% url 'front:view-report' %}">Reports</a></li>

            <li></li>

            {% if user.is_authenticated %}
              <li><span class="separator">| </span><a href="{% url 'user:prefs' %}">Preferences</a></li>
              <li><span class="separator">| </span><a href="{% url 'admin:index' %}">Administration</a></li>

              <li>
                <span class="separator">| </span>
                  <a href="{% url 'user:logout' %}">Log&nbsp;out</a>
                  {{ user.login_name }}
              </li>

            {% else %}
              <li id="new_account_container_bottom">
                <span class="separator">| </span>
                <a href="{% url 'user:create-account' %}">New&nbsp;Account</a>
              </li>

              <li id="mini_login_container_bottom">
                <span class="separator">| </span>
                <a id="login_link_bottom" href="{% url 'user:login' %}"
                   onclick="return show_mini_login_form('_bottom')">Log In</a>

                <form action="index.cgi" method="POST" 
                      class="mini_login bz_default_hidden"
                      id="mini_login_bottom"
                      onsubmit="return check_mini_login_fields( '_bottom' );">
                  <input id="Bugzilla_login_bottom" 
                         class="bz_login"
                         name="Bugzilla_login"
                         title="Login"
                         onfocus="mini_login_on_focus('_bottom')">
                  <input class="bz_password" 
                         id="Bugzilla_password_bottom" 
                         name="Bugzilla_password"
                         type="password"
                         title="Password">
                  <input class="bz_password bz_default_hidden bz_mini_login_help" type="text" 
                         id="Bugzilla_password_dummy_bottom" value="password"
                         title="Password"
                         onfocus="mini_login_on_focus('_bottom')"
                  >
                  <input type="submit" name="GoAheadAndLogIn" value="Log in" 
                          id="log_in_bottom">
                  <script type="text/javascript">
                    mini_login_constants = {
                        "login" : "login",
                        "warning" : "You must set the login and password before logging in."
                    };
                    
                    if (YAHOO.env.ua.gecko || YAHOO.env.ua.ie || YAHOO.env.ua.opera) {
                        YAHOO.util.Event.onDOMReady(function() {
                            init_mini_login_form('_bottom');
                        });
                    }
                    else {
                        YAHOO.util.Event.on(window, 'load', function () {
                            window.setTimeout(function() {
                                init_mini_login_form('_bottom');
                            }, 200);
                        });
                  }
                  </script>
                  <a href="#" onclick="return hide_mini_login_form('_bottom')">[x]</a>
                </form>
              </li>
              <li id="forgot_container_bottom">
                <span class="separator">| </span>
                <a id="forgot_link_bottom" href="{% url 'user:forgot-password' %}"
                   onclick="return show_forgot_form('_bottom')">Forgot Password</a>
                <form action="token.cgi" method="post" id="forgot_form_bottom"
                      class="mini_forgot bz_default_hidden">
                  <label for="login_bottom">Login:</label>
                  <input type="text" name="loginname" size="20" id="login_bottom">
                  <input id="forgot_button_bottom" value="Reset Password" 
                         type="submit">
                  <input type="hidden" name="a" value="reqpw">
                  <input type="hidden" id="token_bottom" name="token" value="1391602242-n7VAajW--85bbcrqKreH7m7vW7PscF4Jz4NPzIB-Bmw">
                  <a href="#" onclick="return hide_forgot_form('_bottom')">[x]</a>
                </form>
              </li>
            {% endif %}
          </ul>
        </li>

        {% if user.is_authenticated %}
        <li id="links-saved">
          <ul class="links">
            <li><a href="{% url 'front:list-bug' %}?resolution=---&amp;emailassigned_to1=1&amp;emailreporter1=1&amp;emailtype1=exact&amp;email1={{ user.login_name }}">My Bugs</a></li>
          </ul>
        </li>
        {% endif %}

      </ul>

      <div class="outro"></div>
    </div>

  </body>
</html>