{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bz_helpers %}


{% block css %}
    <link href="{% static 'skins/standard/global.css' %}" rel="alternate stylesheet" title="Classic">
    <link href="{% static 'js/yui/assets/skins/sam/autocomplete.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'js/yui/assets/skins/sam/calendar.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'skins/standard/global.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'skins/standard/buglist.css' %}" rel="stylesheet" type="text/css">

    <!--[if lte IE 7]>
      <link href="{% static 'skins/standard/IE-fixes.css' %}" rel="stylesheet" type="text/css" >
    <![endif]-->

    <link href="{% static 'skins/contrib/Dusk/global.css' %}" rel="stylesheet" type="text/css" title="Dusk">
    <link href="{% static 'skins/contrib/Dusk/buglist.css' %}" rel="stylesheet" type="text/css" title="Dusk">
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/yui/yahoo-dom-event/yahoo-dom-event.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/yui/cookie/cookie-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/yui/datasource/datasource-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/yui/connection/connection-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/yui/json/json-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/yui/autocomplete/autocomplete-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/yui/calendar/calendar-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>

    <script type="text/javascript">
    <!--
        YAHOO.namespace('bugzilla');
        YAHOO.util.Event.addListener = function (el, sType, fn, obj, overrideContext) {
               if ( ("onpagehide" in window || YAHOO.env.ua.gecko) && sType === "unload") { sType = "pagehide"; };
               var capture = ((sType == "focusin" || sType == "focusout") && !YAHOO.env.ua.ie) ? true : false;
               return this._addListener(el, this._getType(sType), fn, obj, overrideContext, capture);
         };
        if ( "onpagehide" in window || YAHOO.env.ua.gecko) {
            YAHOO.util.Event._simpleRemove(window, "unload", 
                                           YAHOO.util.Event._unload);
        }
        
        function unhide_language_selector() { 
            YAHOO.util.Dom.removeClass(
                'lang_links_container', 'bz_default_hidden'
            ); 
        } 
        YAHOO.util.Event.onDOMReady(unhide_language_selector);

        
        var BUGZILLA = {
            param: {
                cookiepath: '\/',
                maxusermatches: 1000
            },
            constant: {
                COMMENT_COLS: 80
            },
            string: {
                

                attach_desc_required:
                    'You must enter a Description for this attachment.',
                component_required:
                    'You must select a Component for this bug.',
                description_required:
                    'You must enter a Description for this bug.',
                short_desc_required:
                    'You must enter a Summary for this bug.',
                version_required:
                    'You must select a Version for this bug.'
            }
        };


  if (history && history.replaceState) {
    history.replaceState(null, "Bug List",
                         "buglist.cgi?{% create_filtered_query_string request %}");
    document.title = "Bug List";
  }
    // -->
    </script>
    <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/field.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/TUI.js' %}"></script>

    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;title=Bug List&amp;ctype=atom">
{% endblock js %}


{% block bugzilla-body %}
{{ block.super }}

<div class="bz_query_head">
  <span class="bz_query_timestamp">{% now "D N j Y G:i:s" %} CET<br>
  </span>
</div>


<a id="search_description_controller" href="javascript:TUI_toggle_class('search_description')">Hide Search Description</a>

<script type="text/javascript">
  TUI_alternates['search_description'] = 'Show Search Description';
  YAHOO.util.Dom.removeClass('search_description_controller', 
                             'bz_default_hidden');
</script>

<ul class="search_description">
  {% for key, values in filter_args.items %}
  <li>
    <strong>{{ key }}:</strong>
      {% for value in values %}
      {{ value }}{% if not forloop.last %},{% endif %}
      {% endfor %}
  </li>
  {% endfor %}
</ul>

<hr>

<table class="bz_buglist" cellspacing="0" cellpadding="4" width="100%">
  <tbody>
    <tr class="bz_buglist_header bz_first_buglist_header">
      <th colspan="1" class="first-child">
        <a href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;order=bug_id&amp;query_based_on=">ID</a>
      </th>
      <th colspan="1">
        <a href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;order=product&amp;query_based_on=">Product</a>
      </th><th colspan="1">
        <a href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;order=component&amp;query_based_on=">Comp</a>
      </th><th colspan="1">
        <a href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;order=assigned_to&amp;query_based_on=">Assignee</a>
      </th><th colspan="1">
        <a href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;order=bug_status&amp;query_based_on=">Status</a>
      </th><th colspan="1">
        <a href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;order=resolution&amp;query_based_on=">Resolution</a>
      </th><th colspan="1">
        <a href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;order=short_desc&amp;query_based_on=">Summary</a>
      </th><th colspan="1">
        <a href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;order=changeddate&amp;query_based_on=">Changed</a>
      </th>
    </tr>
    {% for bug in bug_list %}
    <tr id="b1" class="bz_bugitem bz_enhancement bz_--- bz_CONFIRMED {% cycle 'bz_row_odd' 'bz_row_even' %}">

      <td class="first-child bz_id_column">
        <a href="{% url 'front:bug-details' %}?id={{ bug.id }}">{{ bug.id }}</a>
        <span style="display: none"></span>
      </td>

      <td style="white-space: nowrap" class="bz_product_column">
          <span title="{{ bug.product.name }}">{{ bug.product.name }}</span>
      </td>
      <td style="white-space: nowrap" class="bz_component_column">
          <span title="{{ bug.component.name }}">{{ bug.component.name }}</span>
      </td>
      <td style="white-space: nowrap" class="bz_assigned_to_column">
          <span title="{{ bug.assignee.login_name }}">{{ bug.assignee.login_name }}</span>
      </td>
      <td style="white-space: nowrap" class="bz_bug_status_column">
          <span title="{{bug.status}}">{{ bug.status|raw_truncate_chars:4 }}</span>
      </td>
      <td style="white-space: nowrap" class="bz_resolution_column">
          <span title="{{ bug.resolution }}">{{ bug.resolution }}</span>
      </td>
      <td class="bz_short_desc_column">
          <a href="{% url 'front:bug-details' %}?id={{ bug.id }}">{{ bug.title }}</a>
      </td>
      <td style="white-space: nowrap" class="bz_changeddate_column">{{ bug.delta_ts }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<span class="bz_result_count">
      One bug found.
</span>
<br>

<table>
  <tbody><tr>
      <td valign="middle" class="bz_query_buttons">
        <form method="post" action="show_bug.cgi">
          <input type="hidden" name="id" value="1">
          <input type="hidden" name="format" value="multiple">
          <input type="submit" id="long_format" value="Long Format">
        </form>
        <form method="post" action="show_bug.cgi">
            <input type="hidden" name="ctype" value="xml">
            <input type="hidden" name="id" value="1">
            <input type="hidden" name="excludefield" value="attachmentdata">
            <input type="submit" value="XML" id="xml">
        </form>

      </td>
      
      <td>&nbsp;</td>
      
      <td valign="middle" class="bz_query_links">
        <a href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;ctype=csv&amp;human=1">CSV</a> |
        <a href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;title=Bug List&amp;ctype=atom">Feed</a> |
        <a href="buglist.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;ctype=ics">iCalendar</a> |
        <a href="colchange.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific&amp;query_based_on=">Change&nbsp;Columns</a> |
      </td>
    
    <td valign="middle" class="bz_query_edit">
      <a href="query.cgi?bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific">Edit&nbsp;Search</a>
    </td>
      
      <td>&nbsp;</td>
      
      <td valign="middle" class="bz_query_remember">
        <form method="get" action="buglist.cgi">
          <input type="submit" id="remember" value="Remember search"> as 
          <input type="hidden" name="newquery" value="bug_status=__open__&amp;content=&amp;no_redirect=1&amp;product=&amp;query_format=specific">
          <input type="hidden" name="cmdtype" value="doit">
          <input type="hidden" name="remtype" value="asnamed">
          <input type="hidden" name="token" value="1394797736-O0630SeIuiUl4coCjEFqmyOa1hj5t3V0ZpK63WrURjk">
          <input type="text" id="save_newqueryname" name="newqueryname" size="20" title="New query name" value=""> 
        </form> 
      </td>  
  </tr>
</tbody></table>

{% comment %}
  <p class="bz_query_single_product"><a href="enter_bug.cgi?product=TestProduct">File
    a new bug
     in the "xx" product</a>
  </p>
{% endcomment %}

{% endblock bugzilla-body %}
