{% extends 'base.html' %}

{% block bugzilla-body %}

<h2>First, you must pick a product on which to enter a bug: </h2>

<table>
  <tbody>
    {% for project in object_list %}
    <tr>
      <th align="right" valign="top">
        <a href="{% url 'create-bug' %}?product={{ project.name }}">{{ project.name }}</a>:&nbsp;
      </th>
      <td valign="top">{{ project.description }}</td>
    </tr>
    {% endfor %}

    <tr>
      <th colspan="2">&nbsp;</th>
    </tr>

    </tbody>
</table>
{% endblock %}